@import-normalize; /* bring in normalize.css styles */

body {
  background: linear-gradient(to bottom, #dbd5d5e1, #5d595992);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  margin: 0;
  overflow: hidden;

  color: white;
}
